.showcase{
  background-image: url('http://2.bp.blogspot.com/-KdR7Q3A5lfM/UDYLkOC0xtI/AAAAAAAAA-M/e9STE9JmQhY/s640/apple+varieties.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.button{
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover{
  background: #926239;
  color: #fff;
}