.signIn{
  width:500px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.loginform {
  max-width: 300px;
  margin: auto;
  padding: 20px;
}
.loginformforgot {
  float: right;
}
.loginformbutton {
  width: 100%;
}


.signUp{
  width:500px;
  margin: auto;
  text-align: center;
  padding: 20px;
}


.formWidth{
  max-width: 300px;
}